@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Comfortaa", cursive;
}
.paginate {
  display: flex;
  align-items: center;
  justify-content: end;
}
.paginate li {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
